* {
    box-sizing: border-box;
}

html {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
}

body {
    background-color: #625EC2;
    text-align: center;
    color: white;
    /* text-shadow: -1px 0 #625EC2, 0 1px #625EC2, 1px 0 #625EC2, 0 -1px #625EC2 */
}

header {
    height: 120px
}

#hero {
    width: 100%;
    
}

.name {
    font-size: 2em;
    margin-bottom: 20px;
    color: #C55CB6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.social-links-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0 150px 0 130px;
    text-align: center;
}

.social-links-li {
    width: 20%;
    margin: 0;
}

.fa-social {
    color: white;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 40px 50px;
    font-size: 1.2em;
    color: #C55CB6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.nav-item:hover {
    color: #00C899;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-img {
    width: 60%;
    margin: 50px auto 20px;
    border-radius: 30%;
}

h2 {
    font-size: 1.2em;
    color: #00C899;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bio {
    width: 80%;
    text-align: center;
    margin: 40px auto;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #C55CB6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.quiz-screen {
    width: 70%;
}

.quiz-desc {
    width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

.quiz-techs {
    list-style-type: none;
    padding: 0;
}

.pro-link-text {
    color: #00C899;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact-text {
    width: 80%;
    margin: 80px auto 30px;
    font-family: 'Open Sans', sans-serif;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    margin: 40px auto;
}

.con-link {
    margin: 10px
}

.con-text {
    font-family: 'Open Sans', sans-serif;
    color: #00C899;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.github, .linkedin {
    display: inline-block;
}

@media all and (min-width: 700px) {
    #hero {
        background-color: #0073BE;
    }

    .hero-content-wrap {
        width: 90%;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
    }
    
    .nav-list {
        width: 60%;
        margin: 50px auto 80px;
        font-size: 1.8em;
    }

    .name {
        font-size: 2.5em;
        width: 80%;
    }

    .social-links-list {
        width: 45%;
        justify-content: flex-end;
        margin: 0 70px 0 0;
    }

    .social-links-li {
        width: 50px;
    }

    .main-img {
        width: 40%;
        margin: 60px 0 20px;
    }

    h2 {
        font-size: 1.7em;
    }

    .bio {
        width: 65%;
        font-size: 1.4em;
        margin: 150px auto;
    }

    .quiz-screen {
        margin: 50px auto 20px;
        width: 70%;
    }

    h3 {
        font-size: 1.4em;
        margin: 20px auto;
    }

    .quiz-desc {
        font-size: 1.3em;
        margin-bottom: 40px;
    }

    .contact-text {
        margin: 150px auto 50px;
        font-size: 1.3em;
    }

    
}

@media all and (min-width: 1200px) {
    .name {
        justify-content: flex-start;
        width: 40%
    }

    .social-links-list {
        width: 70%;
    }

    .nav-list {
        width: 50%;
        margin: 50px auto;
    }

    .main-img {
        width: 20%;
    }
    .quiz-screen {
        width: 40%;
    }
    
    .quiz-desc {
        width: 60%
    }
}